services:
  backend:
    build: ./backend
    container_name: blog_backend
    entrypoint: entrypoint-app.sh
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env
    depends_on:
      - mysql
      - redis
    networks:
      - app

  nginx:
    image: nginx:alpine
    container_name: blog_nginx
    ports:
      - 8080:80
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app

  mysql:
    image: mysql:8
    container_name: blog_mysql
    env_file:
      - ./.env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app

  redis:
    image: redis:alpine
    container_name: blog_redis
    networks:
      - app

  horizon:
    build: ./backend
    container_name: blog_horizon
    entrypoint: entrypoint-worker.sh
    command: php artisan horizon
    restart: unless-stopped
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - mysql
    networks:
      - app

  scheduler:
    build: ./backend
    container_name: blog_scheduler
    entrypoint: entrypoint-worker.sh
    command: php artisan schedule:work
    restart: unless-stopped
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env
    depends_on:
      - mysql
      - redis
    networks:
      - app

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    container_name: blog_frontend
    ports:
      - 3000:3000
    command: npm run dev
    env_file:
      - ./frontend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=100
    networks:
      - app

networks:
  app:

volumes:
  mysql_data:
  frontend_node_modules:
